/*Things*/
#HeaderStyle{
    /*needed*/
    top: 0; left: 0; right: 0;
    height: 75px;
    background-color: black;
    position: fixed;
    /*testing*/
}

#BodyBackground{
    /*needed*/
    background-image: url(Background2.jpg);
    background-repeat:no-repeat;
    background-size: cover;
    background-attachment: fixed;
    /*testing*/
}

#Foreground{
    /*needed*/
    background-color: whitesmoke;
    box-shadow: 10px 10px 10px dimgrey;
    /*testing*/
}

/*classes*/
.navbar{
    /*needed*/
    overflow: hidden;
    display: inline-block;
    text-align: center;
    /*testing*/
}
.navbar a{
    float: left;
    color: black;
    text-align: center;  
    padding: 10px 10px;
    text-decoration: none;
}
/*button classes*/
.dropdown{
    /*which side of the navbar the initial dropdown button will appear*/
    overflow: hidden;
    float: left;
}

/*.dropbutton is a child of .dropdown*/
.dropdown .dropbutton{
    font-size: inherit;
    outline: none;
    border: none;
    color: black;
    padding: 10px 10px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}
/*change word color and when hovering over the navbar elements or a dropdown's dropbutton*/
.navbar a:hover, .dropdown:hover .dropbutton{
    background-color: lightgray;
    color: black;
}

.dropdown-content{
    display:none;
    float: none;
    /*positioned relative to its nearest/closest previous element*/
    position: absolute;
    background-color: White;
    /*z-index will place things before or after other elements based onthe value*/
    z-index: 1;
    box-shadow: 5px 5px 5px dimgrey;
}
/*decoration of and a elements within a dropdown-content element*/
.dropdown-content a{
    float: none;
    color:black;
    padding: 10px 10px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: lightgray;
    color: black;
}  
/*on hover of drowpdown, dropdown-contents will be displayed as blocks: starts on new lines*/
.dropdown:hover .dropdown-content{
    display: block;
}


/*styles*/
body{
    /*needed*/
    padding-top: 80px;
    /*testing*/
}

main{
    /*needed*/
    margin-left: 50px;
    margin-right: 50px;
    /*testing*/
}