.navbar{
    /*needed*/
    overflow: hidden;
    background-color: black;
    padding-left: 50px; font-size: larger;
    /*testing*/
}
.navbar a{
    float: left;
    color: white;
    text-align: center;  
    padding: 10px 10px;
    text-decoration: none;
}
/*button classes*/
.dropdown{
    /*which side of the navbar the initial dropdown button will appear*/
    float: left;
    overflow: hidden;
}

/*.dropbutton is a child of .dropdown*/
.dropdown .dropbutton{
    font-size: inherit;
    border: none;
    outline: none;
    color: white;
    padding: 10px 10px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}
/*change word color and when hovering over the navbar elements or a dropdown's dropbutton*/
.navbar a:hover, .dropdown:hover .dropbutton{
    background-color: white;
    color: black;
}

.dropdown-content{
    display:none;
    float: none;
    /*positioned relative to its nearest/closest previous element*/
    position: absolute;
    background-color: White;
    /*z-index will place things before or after other elements based onthe value*/
    z-index: 1;
    box-shadow: 5px 5px 5px dimgrey;
}
/*decoration of and a elements within a dropdown-content element*/
.dropdown-content a{
    float: none;
    color:black;
    padding: 10px 10px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: lightgray;
    color: black;
}  
/*on hover of drowpdown, dropdown-contents will be displayed as blocks: starts on new lines*/
.dropdown:hover .dropdown-content{
    display: block;
}