/*Things*/
#HeaderStyle{
    /*needed*/
    top: 0; left: 0; right: 0;
    height: 75px;
    background-color: black;
    position: fixed;
    /*testing*/
}

#BodyBackground{
    /*needed*/
    background-image: url(Background2.jpg);
    background-repeat:no-repeat;
    background-size: cover;
    background-attachment: fixed;
    /*testing*/
}

#Foreground{
    /*needed*/
    background-color: whitesmoke;
    box-shadow: 10px 10px 10px dimgrey;
    /*testing*/
}

/*classes*/
.timespan{
    color: rgb(80, 80, 80);
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 15px; 
}

.schoolTitle{
    color: black;
    font-family: sans-serif;
    font-size: 25px;
}
.GPA{
    color: dimgrey;
    font-family:monospace;
    font-size: 15px;
    padding-top: 2px;
}
.classTitle{
    color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
}
.classDescriptionHeader{
    padding-top: 2px;
    padding-bottom:5px;
    padding-left:20px;
    text-decoration: underline;
}
.classDescription{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    padding-bottom: 10px;
    padding-left: 20px;
}


/*styles*/
body{
    /*needed*/
    padding-top: 80px;
    /*testing*/
}

main{
    /*needed*/
    margin-left: 50px;
    margin-right: 50px;
    /*testing*/
}

li{
    padding-bottom: 7px;
}